{% extends 'base.html' %}

{% block head%}
<title>Exercise 2</title>
{% endblock %}

{% block body%}
<div class="container mt-5">
    <h1>Home</h1>
    <p>Enter an integer to find out if it is even or odd</p>

    <form action="/calculate" method="GET">
        <div class="form-group">
            <label for="number" class="form-label">Number</label>
            <input type="text" class="form-control" name="number" id="number">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>
{% endblock %}